* {
    font-family: Calibri, sans-serif;
}

body {
    background-image: url('https://unsplash.com/photos/qzgN45hseN0');
}

#background-pic {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

h3{
    color: rgb(224, 220, 202);
    font-family:  Arial, Helvetica, sans-serif;
}

div {
  color: rgb(225, 222, 207);
}

.formInput{
  border: 1px solid rgb(224, 220, 202);
  border-radius: 5px;
  height: 26px;
  width: 160px;
  box-shadow: rgb(230, 232, 204) 3px 3px 6px 0px inset, rgba(230, 232, 204, 0.5) -3px -3px 6px 1px inset;
}

.formInput:hover {
  box-shadow: rgb(222, 217, 168) 3px 3px 6px 0px inset, rgba(208, 204, 154, 0.5) -3px -3px 6px 1px inset;
}

.formInput:focus {
  box-shadow: rgb(230, 220, 133) 3px 3px 6px 0px inset, rgba(232, 226, 140, 0.5) -3px -3px 6px 1px inset;
  outline: none;
}

.listItem {
    display: flex;
}

.listTripInfo{
    margin-right: 10px;
}

.stateForm {
  margin-left: 10px;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#woop {
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.gasContainer {
    display: flex;
    justify-content: space-around;
}

.tripHistoryContainer {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(91, 64, 35, 0.671);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.currentTrip {
    margin-right: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(91, 64, 35, 0.671);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.gasButton button {
    text-align: center;
    display: inline-block;
    background-color: rgb(18, 15, 226);
    color: white;
    justify-content: space-evenly;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 12px;
}

.MPGInput {
    margin-top: 25px;
    margin-bottom: 5px;
}

.MPGInput Input {
    margin-bottom: 5px;
}


.grandTotal {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.submitCalc {
  background-color: #381611;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: rgb(224, 220, 202);
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submitCalc:hover,
.submitCalc:focus {
  background-color: #61251b;
}

.fas {
    margin-left: 5px;
    margin-top: 4px;
    color: #a07169;
}

.fas:hover,
.fas:focus {
  color: #b6938d;
}